<div class="container">
  <h1>Remote Programming Jobs</h1>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="!jobs.length && !error" class="loading">Loading jobs...</div>

  <div class="job-list">
    <div *ngFor="let job of jobs" class="job-card">
      <!-- <app-interaction-panel [jobId]="job._id"></app-interaction-panel> -->
      <a [href]="job.link" target="_blank" class="job-link">
        <article class="job-content">
          <div class="job-header">
            <img
              *ngIf="job.logo"
              [src]="job.logo"
              alt="{{ job.company_title }} logo"
              class="job-logo"
            />
            <section>
              <p class="job-company">
                <ng-container *ngIf="job.company_link; else noLink">
                  <a [href]="job.company_link" target="_blank">{{
                    job.company_title
                  }}</a>
                </ng-container>
                <ng-template #noLink>{{ job.company_title }}</ng-template>
              </p>
              <h3 class="job-title">{{ job.title }}</h3>
              <p class="job-location">{{ job.location }}</p>
            </section>
          </div>
          <div class="job-details">
            <p class="job-time">{{ job.time }}</p>
            <p class="job-date">{{ job.date }}</p>
            <div class="tags">
              <span *ngFor="let tag of job.tags | slice : 0 : 4" class="tag">{{
                tag
              }}</span>
            </div>
          </div>
        </article>
      </a>
      <app-interaction-panel [jobId]="job._id"></app-interaction-panel>
    </div>
  </div>
</div>
