<div class="intro-page p-8 bg-gray-50">
  <header class="text-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Fill a Vacancy</h1>
    <h2 class="text-xl text-gray-600">
      - Full-Time - Part-Time - Hybrid - Remote
    </h2>
  </header>

  <div class="free-job-posting text-center my-4">
    <button
      mat-raised-button
      color="primary"
      (click)="navigateToPostJob()"
      class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition"
    >
      Post a Job
    </button>
  </div>

  <section class="testimonials mx-auto my-8 w-full max-w-2xl">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Testimonials</h3>
    <div class="testimonial-slide p-4 border rounded-lg shadow-lg bg-white">
      <img
        [src]="testimonials[currentTestimonialIndex].picture"
        alt="Testimonial Picture"
        class="w-48 h-48 rounded-full mx-auto mb-2"
      />
      <p class="text-gray-700 text-center">
        {{ testimonials[currentTestimonialIndex].remarks }}
      </p>
      <p class="font-bold text-gray-800 text-center">
        {{ testimonials[currentTestimonialIndex].author }}
      </p>
    </div>

    <div class="flex justify-between mt-4">
      <button
        (click)="prevTestimonial()"
        class="bg-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400 transition"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      <button
        (click)="nextTestimonial()"
        class="bg-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400 transition"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </section>

  <section class="flex flex-col sm:flex-row benefits my-8 mx-auto w-full max-w-5xl">
    <div>
      <h3 class="text-2xl font-semibold text-gray-800 mb-4">
        Benefits of Remote Work
      </h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>Flexibility in work hours</li>
        <li>Increased productivity</li>
        <li>Reduced commuting time</li>
        <li>Better work-life balance</li>
      </ul>
    </div>

    <header class="text-center mb-6 mx-24">
      <h1 class="text-3xl font-bold text-gray-800 pt-10 sm:pt-0 ">Find Your next Hire</h1>
      <h2 class="text-xl text-gray-600">- Free Job Posting</h2>
    </header>
    <p
      class="text-xl font-bold text-gray-900 italic my-4 p-4 border-l-4 border-blue-500 bg-blue-100"
    >
      <span class="text-blue-500 text-2xl">"</span>
      Fly With Us
      <span class="text-blue-500 text-2xl">"</span>
    </p>
    <section class="my-auto flex">
      <button
        class="text-gray-800 py-2 px-4 rounded hover:bg-gray-400 transition"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
      <a routerLink="/job-posts/new" class="text-2xl font-bold no-underline flex items-center">
        <img src="../../assets/images/bee.png" class="rounded-sm h-20 w-20 mx-2">
      </a>
    </section>
  </section>
</div>
