@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    font-family: "Lato", "Libre Baskerville", serif, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  padding: 24px;
  background: white;
  border-radius: 4px;
}

.cdk-overlay-container {
  z-index: 1000;
}


